/** Custom Classes  **/
.brand {
  color: #c5c5c5;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.custom-bg-color {
  background-color: #001529;
}

.secondary-bg-color {
  border-radius: 4px;
  background-color: #A0ACB5;
}

/* Webkit (Chrome, Safari, Opera) */
html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background-color: #909090;
}

html::-webkit-scrollbar-thumb {
  background-color: #001629;
}

.cert-table-body::-webkit-scrollbar {
  width: 5px;
  /* Adjust the width as needed */
  height: 15px;
}


.cert-table-body::-webkit-scrollbar-track {
  background-color: #909090;
  /* Adjust the color as needed */
}

.cert-table-body::-webkit-scrollbar-thumb {
  background-color: #001629;
  /* Adjust the color as needed */
}

.txt_sidebar{

  /* Left Panel/Unselected 14 Regular */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dotted-vertical-line {
  height: 3rem; /* Adjust the height */
  width: 1px;   /* Width for the vertical line */
  background-color: rgba(142, 142, 142, 0.30); /* Background color */
  border-left: 2px dotted rgba(142, 142, 142, 0.30); /* Dotted border */
  margin: auto auto; /* Adds some margin and centers horizontally */
 
}

.parent-grid{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.title_text{
  color: #C5C5C5;
  /* Section title/T1 18 Semibold */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.nabers_text{
  color: rgba(197, 197, 197, 0.80);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.custom-divider {
  background-color: hsla(0, 0%, 56%, .3);
  margin: 12px 0;
  font-feature-settings: "tnum", "tnum";
  border-top: 1px solid rgba(0, 0, 0, .06);
  box-sizing: border-box;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  padding: 0;
}

.ant-popover {
  background-color: #0a1016;
  border: 1px solid hsla(0, 0%, 56%, .3) !important;
  border-radius: 5px !important;
}

.ant-popover-placement-bottomRight .ant-popover-arrow {
  display: none;
  right: 16px;
}

.ant-popover-inner {
  border-radius: 10px !important;
  background-color: #0a1016 !important;
}

.ant-popover-inner-content {
  background: linear-gradient(0deg, #0a1016, #0a1016), linear-gradient(0deg, hsla(0, 0%, 56%, .3), hsla(0, 0%, 56%, .3));
  border-radius: 0;
  color: #c5c5c5 !important;
  padding: 0 !important;
}

.ant-popover-inner-content h6 {
  color: #c5c5c5;
}

.price-tag {
  background-color: #4285F4;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.price-tag::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #4285F4;
}

.chart-border-color {
  border-color: #2A4456;
  border-width: 10px !important;
}

.chart-button-color {
  background-color: #2A4456;
}

.header-font {
  font-family: Aldrich !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 14px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #E6E9F5 !important;
}

.subHeader-font-bold {
  font-family: Montserrat Alternates !important;
  font-size: 10px !important;
  font-weight: 700 !important;
  line-height: 12px !important;
  letter-spacing: 0em !important;
  color: #E6E9F5 !important;
}

.dataSource-font {
  font-family: Aldrich !important;
  font-size: 8px !important;
  font-weight: 400 !important;
  line-height: 8px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #E6E9F5 !important;
  ;
}

.subHeader-font {
  font-family: Montserrat Alternates !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  line-height: 12px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #E6E9F5 !important;
}

.menu-font {
  font-family: Montserrat !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
  letter-spacing: 0px !important;
  text-align: left !important;
  color: #EEF1F499 !important;
}

.menu-font-site-connected {
  font-family: Montserrat !important;
  font-size: 8px !important;
  font-weight: 400 !important;
  line-height: 10px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #EEF1F499 !important;
}
.border-bottom{
  border-bottom: 1px solid #8E8E8E4D;
}

.energy-usage-intensity-button-bg {
  background: #101922;
  border: 1px solid #C5C5C533;
}

/* .energy-usage-intensity-button-bg-color {
  background-color: #00365F !important;
} */

.ant-collapse-header{
  padding: 5px 0px 5px !important;
  color: #C5C5C5 !important;
  font-size: 14px;
  font-weight: 600;
}

.ant-collapse-content-box{
  background: #0A1016;
  padding: 0px !important;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #8E8E8E;
}

.ant-collapse-arrow{
  display: inline-flex !important;
  margin-right: 5px !important;
}
.scrollbar::-webkit-scrollbar {
    width: 5px;
}
 .content-bg-color{
  background-color: #0A1016;
}
 .background-color-linear{
  background: linear-gradient(104.5deg, #2A3035 0%, rgba(27, 34, 40, 0) 100%);

 }
/* Track */
.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#C5C5C5; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* .scrollbar::-webkit-scrollbar-thumb:window-inactive {
	background: 'green'; 
} */

.energy-usage-intensity-target-button-bg-color {
  background-color: #00182F !important;
}

.energy-usage-intensity-button-bg-color-content {
  background: linear-gradient(104.5deg, #2A3035 0%, rgba(27, 34, 40, 0) 100%);
  border: 1px solid #8E8E8E4D;
  box-shadow: 0px 6px 10px 0px #6060600D;
  border-radius: 5px;
}

.energy-usage-intensity-bg-color-content {
  background-color: #5a6872 !important;
}

.energy-usage-intensity-tab {
  position: relative !important;
  left: -14px !important;
  top: -8px !important;
}

.italic-font {
  font-style: italic;
}

.menu-Active {
  background-color: #3b3e57 !important;
}

.clickable {
  cursor: pointer;
}

.imageCount {
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 0.5rem;
}

@media (min-width: 1280px) {

  .xl\:w-1\/3 {
    width: 33.333333%;
  }

  .imageCount {
    position: absolute;
    top: 45%;
    left: 41%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 0.5rem;
  }
}
.box-shadow{
  box-shadow: 0px 6px 10px 0px #6060601A;

}
@media (min-width: 1920px) {

  .xl\:w-1\/3 {
    width: 33.333333%;
  }

  .imageCount {
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 0.5rem;
  }
}

@media (min-width: 768px) {
  .md\:w-75 {
    width: 19rem;
  }
}

.background-linear {
  background: linear-gradient(104.5deg, #2A3035 0%, rgba(27, 34, 40, 0) 100%),
    linear-gradient(0deg, rgba(142, 142, 142, 0.3), rgba(142, 142, 142, 0.3));
  border: 1px solid #8E8E8E4D;
  box-shadow: 0px 6px 10px 0px #6060600D;
  border-radius: 5px;
}